

.footer__column-link {
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    background-size: 16px;
    background-repeat: no-repeat;
    z-index: 3;
    background-position: 0% 43%;
    opacity: 1;
}

.footer__column-link:hover {
    opacity: 0.5;
    transition:  opacity 0.5s ease-in-out;
}