.feinman__link {
    font-style: normal;
    text-decoration: none;
    color: #000000;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
    opacity: 1;
}

.feinman__link:hover {
    opacity: 0.5;
    transition:  opacity 0.5s ease-in-out;
}