.feinman__title {
    display: flex;
    margin: auto;
    width: 648px;
    justify-content: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
}