@import url(../logo/_place/logo_place_header.css);
@import url(../logo/_place/logo_place_footer.css);

.logo {
    background-image: url(../../images/logo.svg);
    width: 183px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}