
.resources__logo {
    display: flex;
    width: 270px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    opacity: 1;
    justify-content: center;
}

.resources__logo:hover {
    opacity: 0.5;
    transition:  opacity 0.5s ease-in-out;
}