.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #F2F2F2;
    /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: 64px;
    right: 0;
    flex-direction: row-reverse;

}

.two_again {
    height: 608px;
    width: 765px;
    background-image: url(../images/two_again.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
*/

div {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}

section {
    border:  1px solid red;
    position: relative;
}

.logo {
    background-image: url(../images/logo.svg);
    width: 183px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 3;
}

.study {
    margin-left: 64px;
    width: 730px;
    align-items: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold ;
    flex-direction: column;
    justify-content: center;
    display: flex;
    z-index: 3;
}

.header_subtitle {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    z-index: 3;
}

.header_link {
    text-decoration: none;
}

.description {
    display: flex;
    justify-content: center;
}

.two-columns {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    justify-content: space-between;
    min-height: 300px; /*Очень мутное решение расстояние между параграфами в 30px, узнать как правильно.*/
}

.two-columns_main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
    justify-content: space-between;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns_brief {
    width: 175px;
    color: #2F80ED;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.span-accent {
    font-weight: bold;
} /*Почему-то в локальной версии не выделяет жирным (34 строка html), в pen.io и локальным куском кода и целиком - выделяет как и должен*/

.section-title {
    display: flex;
    margin: auto;
    border: 1px solid red;
}

.digits {
    display: flex;
    flex-direction: column;
}

.section__title_digits {
    width: 60%;
    justify-content: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 100px;
    margin-right: auto;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.cell_subtitle {
    margin-top: 20px;
}

.feinman {
    display: flex;
    flex-direction: column;
    height: 790px;
    background-color: #F2F2F2;
    background-image: url(../images/feinman.png);
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
    bottom: 0;
    left: 0;
}
/*куда в данном случае прописывать alt?*/

.feinman__subtitle {
    display: flex;
    margin: auto;
    border: 1px solid red;
    justify-content: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
}

.feinman_link {
font-style: normal;
text-decoration: none;
color: black;
}

.feinman__subtitle_link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
}

.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
    color: white;
}

.table_caufman {
    margin-bottom: 90px;
}

.section-subtitle {
    display: flex;
    margin: auto;
    border: 1px solid red;
    justify-content: center;
    font-weight: normal;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    margin-top: 20px;
}

.kaufman {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: #000000;
    z-index: 1;
}

/*Не разобрался, почему в тз есть модификаторы ко всем темам дарк,
 если к закомментированным достаточно .table__cell_theme_dark

.table__text_theme_dark {
    color: white;
}

.table__heading_theme_dark {
    color: white;
}
*/

.section-title_theme_dark {
    margin-top: 90px;
    margin-bottom: 0;
    color: white;
}

.section-title {
    display: flex;
    margin: auto;
    border: 1px solid red;
    width: 60%;
    justify-content: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.feinman_title {
    display: flex;
    margin: auto;
    border: 1px solid red;
    width: 648px;
    justify-content: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 0;
}

.section-subtitle_theme_dark {
color: white;
}

.kaufman__triangle {
    background-image: url(../images/triangle.svg);
    height: 877px;
    width: 877px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -210px;
    z-index: -1;
}

/*.logo {
    background-image: url(../images/logo.svg);
    width: 183px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 3;
}

.study {
    margin-left: 64px;
    width: 730px;
    align-items: center;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold ;
    flex-direction: column;
    justify-content: center;
    display: flex;
    z-index: 3;
}
*/