.khan__buy-link {
    text-decoration: none;
    color: #2F80ED;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    opacity: 1;
}

.khan__buy-link:hover {
    opacity: 0.5;
    transition:  opacity 0.5s ease-in-out;
}